@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.alert-alert, .alert-notice{
    color: #8A6D3B;
    background-color: #FCF8E3;
    border-color: #FAEBCC;
}